.task_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 10px;
    border: 2px solid #8d69f1;
    border-radius: 50px;
}
.task_form button {
    margin-top: 10px;
    padding: 10px 30px;
}
.task_form label {
    align-content: center;
    padding: 30px;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}
.task_form input {
    font-size: 175%;
    font-weight: bold;
    border: 2px solid #8d69f1;
    color: #8d69f1;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
}
.error_paragraph {
    color: red;
    background: pink;
    border: 1px solid red;
    border-radius: 4px;
    padding: 8px;
    margin: 10px 0;
}