@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 75px;
  text-align: center;
  margin: 20px;
  color: #8d69f1;
}
h2 {
  text-align: center;
  color: #8d69f1;
  background: white;
}
input:focus {
  outline: none !important;
}
button {
  color: #8d69f1;
  padding: 10px 20px;
  font-size: 100%;
  border: 2px solid #8d69f1;
  border-radius: 10px;
  margin: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
}
button:hover {
  color: white;
  background-color: #8d69f1;
}
button.active {
  color: white;
  background-color: #8d69f1;
}
